
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#horloge {
    width: 567px;
    height: 567px;
    background-image: url('../image/cadran.png');
    /* box-shadow: 0 1px 2px grey; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.coeur{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    top: 263px;
}

#seconde{
    position: absolute;
    transform: rotate(240deg);
    transform-origin: 94px 10px;
    top: 262px;
    left: 192px;

}

#minute{
    position: absolute;
    transform: rotate(120deg);
    transform-origin: 14px 14px;
    top: 256px;
    left: 270px;

}

#heure{
    position: absolute;
    transform: rotate();
    transform-origin: 25px 26px;
    top: 254px;
    left: 253px;
}